.magazine{
  background: $white;
  position: relative;
  &-container{
    @include grid('.magazine',(2,3,5),1.5rem);
  }
  &__link{
    color: inherit;
  }
  &__title{
    position: absolute;
    background: rgba($black,.4);
    color: $white;
    width: 100%;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    font-weight: normal;
    padding: 0.7rem 0;
  }
}