.msgWebSite{
    @include edContainer;
    justify-content: flex-end;
    &-container{
        background: darken($color-1,31);
        color: $white;
    }
    p{
        padding: .3rem 0;
        margin: 0;
    }
    .date{
        color: $color-3;
        margin: 0 1rem;
        @include to(m){
            display: none;
        }
    }
}