.advertising{
  background: $white;
  border: 1px solid $white_darck;
  &__title{
    line-height: 1em;
    font-weight: normal;
    font-size: 1rem;
    margin: 0.3rem 0;
    padding: 0 0.5rem;
  }
  &-container{
    // @include grid('.advertising',(1,3,4),1rem);
  }
  width: 50%;
  @include from(m){width: 32%}
  @include from(l){width: 24%;}
  margin-bottom: 10px
}